header
    .container
        .header
            nav
                a(href="#home") home 
                a(href="#about") about 
                a(href="#shop") shop 
                a(href="#services") services 
                a(href="#services") plan 
                a(href="#contact") contact