section.toggle_menu 
	h2 Toggle menu
	.button_menu
		.btn
	.mobile_wrap
		ul.menu-list
			li.active
				a(href="#") Trang chủ
			li
				a(href="#") Giới thiệu
			li
				a(href="#") Công nghệ
			li
				a(href="#") Dịch vụ

section.tags 
	h2 Tags
	.tab_wrapper
		ul.tabs
			li.tab_link.active(data_tab='1') HTML
			li.tab_link(data_tab='2') CSS
			li.tab_link(data_tab='3') JQUERY
		.contents
			#tab_1.tab_content.active Hypertext Markup Language (HTML) 
			#tab_2.tab_content Cascading Style Sheets 
			#tab_3.tab_content jQuery


